{% extends 'layout/base.html' %}

{% load static %}

{% block body %}

<style type="text/css" media="screen">
ul {
  list-style-type: none;
}  
</style>

<div class="container">

      <!-- Timeline
        ================================================= -->
        <div class="timeline">
          <div class="timeline-cover">

            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
              <div class="row">
                <div class="col-md-3">
                  <div class="profile-info">
                    <img src="{{ up.profile_pic.url }}" alt="" class="img-responsive profile-photo" />
                    <h3>{{ up.first_name }} {{ up.last_name }}</h3>
                  </div>
                </div>
                <div class="col-md-9">
                  <ul class="list-inline profile-menu">
                    <li><a href="timeline.html">Timeline</a></li>
                    <li><a href="timeline-about.html" class="active">About</a></li>
                    <!-- <li><a href="timeline-album.html">Album</a></li> -->
                    <li><a href="/pages/">Slambook</a></li>
                  </ul>
                  <ul class="follow-me list-inline">
                    <li><a href="/create-questions/"><button class="btn-primary">Send Request</button></a></li>
                  </ul>
                </div>
              </div>
            </div><!--Timeline Menu for Large Screens End-->

            <!--Timeline Menu for Small Screens-->
            <div class="navbar-mobile hidden-lg hidden-md">
              <div class="profile-info">
                <img src="{{ up.profile_pic.url }}" alt="" class="img-responsive profile-photo" />
                <h4>{{ up.first_name }} {{ up.last_name }}</h4>
              </div>
              <div class="mobile-menu">
                <ul class="list-inline">
                  <li><a href="timline.html">Timeline</a></li>
                  <li><a href="timeline-about.html" class="active">About</a></li>
                  <!-- <li><a href="timeline-album.html">Album</a></li> -->
                  <li><a href="/pages/">Slambook</a></li>
                </ul>
                <a href="/create-questions/"><button class="btn-primary">Send Request</button></a>
              </div>
            </div><!--Timeline Menu for Small Screens End-->

          </div>
          <div id="page-contents">
            <div class="row">
              <div class="col-md-3">

                <!--Edit Profile Menu-->
                <ul class="edit-menu">
                 <li><i class="icon ion-ios-information-outline"></i><a href="/edit-profile/">Basic Information</a></li>
                 <li class="active"><i class="icon ion-ios-locked-outline"></i><a href="/change-password/">Change Password</a></li>
               </ul>
             </div>
             <div class="col-md-7">

              <!-- Basic Information
                ================================================= -->
                <div class="edit-profile-container">
                  <div class="block-title">
                    <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Change Password</h4>
                    <div class="line"></div>
                  </div>
                  <div class="edit-block">


                    <form name="basic-info" id="basic-info" class="form-inline" method="POST" action="/change-password/" >
                      {% csrf_token %}

                      <div class="row">
                        <div class="form-group col-xs-6">
                          <label for="city"> My city</label>
                          <input id="city" class="form-control input-group-lg" type="password" name="upass" title="Enter city" placeholder="New Password"/>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-xs-6">
                          <label for="city"> My city</label>
                          <input id="city" class="form-control input-group-lg" type="password" name="upass1" title="Enter city" placeholder="Confirm Password"/>
                        </div>
                      </div>

                      <button class="btn btn-primary">Save Password</button>
                    </form>



                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>


{% endblock %}