{% extends 'layout/base.html' %}

{% load static %}

{% block body %}


<body>

    <script>
        function addinputFields(){

          var input = document.createElement("input");
          input.type = "text";
          input.name = "qs[]";

          input.setAttribute("placeholder", "Enter your question here");
          addedquestions.appendChild(input);
          addedquestions.appendChild(document.createElement("br"));
          addedquestions.appendChild(document.createElement("br"));
      }
      $document.ready(function(){
        var i=1;
        $('#add').click(function(){
            i++;
        });
    });

</script>

<div class="form-wrapper">

    <h2 class="signup-text" style="color: #27BCE4;">Send Request To Fill In Your SlamBook</h2>


    <form method="POST" action="/create-questions/" >

        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" name="filler" placeholder="Recipients Name">
        </div>

        <div class="signup-text">
            <div class="form-group">
                <input class="form-control" name="qs[]" value="Give your three best past moments that you can’t forget in our friendship?"></input>
            </div>
            
            <div class="form-group">
                <input class="form-control" name="qs[]" value="Tell me about three funniest friends you know in your life?"></input>
            </div>

            <div class="form-group">
                <input class="form-control" name="qs[]" value="Describe in one word, LIFE is" ></input>
            </div>

            <div class="form-group">
                <input class="form-control" name="qs[]" value="What was your first impression about me?" ></input>
            </div>

            <div class="form-group">
                <input class="form-control" name="qs[]" value="Define Love and Friendship" ></input>
            </div>

            <div class="form-group">
                <input class="form-control" name="qs[]" value="What are your expectations of me?" ></input>
            </div>

            <div class="form-group">
                <input class="form-control" name="qs[]" value="Have you ever lied to me and if so, why?" ></input>
            </div>

        </div>


        <div id="addedquestions">

        </div>

        <div class="btn-secondary">
            <div onclick="addinputFields();" >Add your own questions</div>
        </div>

        <button class="btn" type="submit">Send Request</button>

    </form>


</div>


</body>
{% endblock %}