{% load static %}


<style type="text/css">
@media screen and (min-width: 992px) {


 .logo{
  width: 60%;
  height: 60%;
  margin-left: -50%;
}

}


@media screen and (max-width: 992px) {
  .logo{
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 800px) {
  .logo{
    width: 40%;
    height: 40%;
  }
}
</style>


<!-- Header
  ================================================= -->
  <header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static 'images/logo-nn.png' %}" class="logo" alt="logo" />
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right main-menu" style="margin-top: 0.4%;margin-right: -8%;">

            {% if user.is_authenticated %}
            <li class="dropdown"><img src="{{ up.profile_pic.url }}" width="30px" height="30px" style="margin-top: 15px;border-radius: 50%;" /></li>
            <li class="dropdown"><a href="#">{{ up.first_name }}</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="dropdown"><a href="/create-questions/">Create Questions</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="dropdown"><a href="/movie-recommendation/">Movie Recommendation</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="dropdown"><a href="/edit-profile/">Edit Profile</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="dropdown"><a href="/logout/">Logout</a></li>
            {% endif %}

            

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>
    <!--Header End-->